@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

body {
    background-color:#ffffff;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    position: sticky;
    top: 0;
    background-color: #ffffff;
    height: 15vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-right: 50px;
    border-bottom: 1px solid #eff3f7;
    
}

header a {
    text-decoration: none;
    color: #1A4301;
    font-size: 16px;
}

footer {
    margin-top: auto;
    height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    border-top: 1px solid #e5ebf1;
    padding: 0px 50px;
}

footer p {
    font-size: 14px;
    color: #6C757D;
}

.logo {
    width: 105px;
    padding-left: 3%;
    }
    
    header div {
        display: flex;
        flex-direction: row;
        gap: 60px;
    }

.contenedor {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 20px;
    flex-grow: 1;
    margin-left: 10%;
    align-items: center;
    grid-column-gap:8%;
}


    .integrante {
        display: inline-block;
        position: relative;
        border-radius: 50%;
        overflow: hidden;
        width: 200px;
        height: 200px;
    }

    .abi {
        background-color: #e9e9e9;
    }


    .daniela{
        background-color: #2a211a;
    }


    .integrante> img {
        position: absolute;
        left: 50%;
        top: 50%;
        height: 100%;
        width: auto;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
    
    .contenedor-integrante {
    display: flex;
    flex-direction: row;
    gap: 5%;
    align-items: center;
    }


    button {
        font-family: 'Poppins', sans-serif;
        width: 20%;
        padding: 2px;
        color: #ffffff;
        font-size: 19px;
        border-radius: 10px;
        border: 2px solid;
        background: #1A4301;
        cursor: pointer;
    }
    
    button:hover {
        background: #000000;
        color: #F8F9FA;
    }

    .datos-integrante{
        flex-grow: 1;
        font-size: 20px;
        font-weight: 500;
    }

    a{
        text-decoration: none;
        color: #ffffff;
    }